<div class="login-container">
  <form class="login-form">
    <h2>Login to Sell X</h2>

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="you@example.com" required />

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="••••••••" required />

    <button  type="submit">Login</button>

    <p class="extra-links">
      <a routerLink="/security/context/forgot-password">Forgot password?</a> | <a routerLink="/security/context/signup">Sign up</a>
    </p>
  </form>
</div>

