<header class="premium-header">
  <div class="header-left">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HFld33OnpFPMe8NRnJTVW55LqbbOj6MYAg&s" alt="Logo" class="logo" />
    <span class="brand-name">Sell X</span>
  </div>


  <div class="header-right">
    <a class=" icon">Legal</a>
    <a class=" icon">Overview</a>

   
  </div>
</header>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">