<div class="signup-container">
  <form class="signup-form ">
    <h2>Create Your Sell X Account</h2>

    <label for="name">Full Name</label>
    <input type="text" id="name" placeholder="John Doe" required />

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="you@example.com" required />

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="••••••••" required />

    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" placeholder="••••••••" required />

    <button type="submit">Sign Up</button>

    <p  class="extra-links">
      Already have an account? <a routerLink="/security/context/login">Login</a>

    </p>
  </form>
</div>


